@import '../../styles/variables.scss';

.contactFormContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contactFormPersonalDataContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contactFormGroup {
  width: 100%;
}

.contactFormInputFull {
  width: 100%;
}

.contactFormInputNoResize {
  resize: none;
}

.contactFormInput {
  padding: 0.75rem;
  border-width: 2px;
  border-radius: 0.25rem;
  border-color: transparent;
  color: $light;
  background: $secondary;

  &:focus {
    border-color: $ring-color;
  }
}

.contactFormErrorMessage {
  color: $danger;
}

.contactFormSubmitButton {
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 700;
  color: $light;
  background-image: $primary-gradient-inverted;
  background-size: 200%;
  background-position: left;
  transition: background-position 2s;

  &:hover,
  &:focus {
    background-position: right;
  }
}

@media (min-width: $breakpoint-mobile) {
  .contactFormPersonalDataContainer {
    flex-direction: row;
  }
}

@media (min-width: $breakpoint-desktop) {
  .contactFormContainer {
    width: 66.666667%;
  }
}
