@import '../../styles/variables.scss';

.projectContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  width: 91.666667%;
}

.projectImageContainer {
  position: relative;
  margin-bottom: 1rem;

  &::before {
    content: '';
    position: absolute;
    inset: 3rem;
    background-color: white;
    z-index: -2;
    filter: blur(25px);
    transition: inset 2s;
  }

  &:hover::before {
    inset: -0.1rem;
  }

  &::before,
  &::after {
    background: $primary-gradient-diagonal;
  }
}

.projectImage {
  width: 100%;
  border-radius: 0.5rem;
}

.projectContent {
  width: 100%;
}

@media (min-width: $breakpoint-mobile) {
  .projectImageContainer {
    width: 20rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  .projectImageContainer {
    width: 24rem;
  }

  .projectImage {
    height: 15rem;
  }
}

@media (min-width: $breakpoint-desktop + 1) {
  .projectContainer {
    flex-direction: row;
  }

  .projectContainerReverse {
    flex-direction: row-reverse;
  }

  .projectImageContainer {
    margin-bottom: 0;
    width: 50%;
  }

  .projectImage {
    height: 20rem;
  }

  .projectContent {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 50%;
  }
}

@media (min-width: $breakpoint-extra-large-desktop) {
  .projectContainer {
    width: 75%;
  }
}
