@import './variables';

.showcaseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.showcaseGreeting {
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  color: transparent;
  background: $primary-gradient;
  background-clip: text;
}

.showcaseRole {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: $gray;
}

.projectsContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $light;
}

.projectsHeader {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;

  & span:nth-child(2) {
    display: block;
    color: $primary;
  }
}

.projectsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $light;
}

.aboutHeader,
.contactHeader {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  color: $primary;
}

.aboutSkillsListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 2rem;
}

.aboutSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
}

.aboutSkillImage {
  width: 3.5rem;
}

.contactContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: $breakpoint-desktop) {
  .showcaseGreeting {
    font-size: 4.5rem;
  }

  .showcaseRole {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .projectsHeader,
  .aboutHeader,
  .contactHeader {
    font-size: 3.75rem;
  }
}

@media (max-width: $breakpoint-tablet) {
  .showcaseGreeting {
    font-size: 3.75rem;
  }

  .showcaseRole {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .projectsHeader,
  .aboutHeader,
  .contactHeader {
    font-size: 3rem;
  }
}
