$primary: #0099ff;
$secondary: #141414;
$dark: #1a1a1a;
$light: #ffffff;
$moon: #b3b3b3;
$king: #2563eb;
$sky: #00dfd8;
$danger: #f87171;

$dark-invisible: rgba(26, 26, 26, 0.5);

// Gradients
$primary-gradient: linear-gradient(to right, $sky, $primary, $primary, $sky);
$primary-gradient-diagonal: linear-gradient(
  45deg,
  $sky,
  $primary,
  $primary,
  $sky
);
$primary-gradient-inverted: linear-gradient(to right, $primary, $king);

// Breakpoints
$breakpoint-extra-large-desktop: 1536px;
$breakpoint-large-desktop: 1280px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 640px;

// Ring
$ring-color: rgba(59, 130, 246, 0.5);
