$primary: #0099ff;
$secondary: #141414;
$dark: #000000;
$light: #ffffff;
$gray: #b3b3b3;
$blue: #1d4ed8;
$soft-blue: #2563eb;
$danger: #f87171;

// Gradients
$primary-gradient: linear-gradient(to right, $blue, $primary);
$primary-gradient-inverted: linear-gradient(to right, $primary, $soft-blue);

// Breakpoints
$breakpoint-extra-large-desktop: 1536px;
$breakpoint-large-desktop: 1280px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 640px;

// Ring
$ring-color: rgba(59, 130, 246, 0.5);
